<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp Main</title>
</head>
<header>
    <% include partials/_header %>
</header>

<body style="font-size:20px; padding:50px;">
    <h2>Requested tiny URLs:</h2>
    <ul>
        <% for (var tinyU in urls) { %>
          <li><%= tinyU %> --> 

            <a href="<%= urls[tinyU] %>"> <%= urls[tinyU] %></a>
            
            <a href = "/urls/<%= tinyU %>">Edit</a> </li>

          <form action="/urls/<%= tinyU %>/delete" method="POST">
            <input id = "deleteURL" type ="submit" value= "delete" name="deleteURL">
          </form>
        <% } %>
    </ul>
</body>
</html>
